// @import "./parcials/globals";

// COLORS
// Primary - Colors
$color-very-dark: hsl(300, 43%, 22%);
$color-soft: hsl(333, 80%, 67%);
// Neutral - Colors
$color-dark-grayish: hsl(303, 10%, 53%);
$color-light-grayish: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);
// Typography
$font-main: 'Spartan', sans-serif;
$font-main-size: 15px;

@mixin display-flex($direction: row, $content: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: center;
}

body{
    width: 100%;
    background-image: url("../images/bg-pattern-top-mobile.svg"),url("../images/bg-pattern-bottom-mobile.svg");
    font-family: $font-main;
    background-position: top, bottom;
    background-repeat: no-repeat;
}
.container{
    width: 90%;
    margin: 80px auto;
}
.header__title{
    font-family: $font-main;
    font-weight: bold;
    color: $color-very-dark;
    text-align: center;
    font-size: 28px;
    letter-spacing: .0;
    padding: 0 20px;
}
.header__description{
    font-family: $font-main;
    font-weight: 500;
    color: $color-dark-grayish;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    // margin-bottom: 20px;
    line-height: 1.5
}
.rated{
    margin: 20px 0;
    @include display-flex(column);
}
.rated__box{
    width: 100%;
    height: 80px;
    background-color: $color-light-grayish;
    border-radius: 8px;
    margin: 10px 0;
    position: relative;
    @include display-flex(column);
}
.rated__box>span{
    width: 17px * 5 - 1;
    height: 16px;
    background-image: url("../images/icon-star.svg");
    position: absolute;
    background-repeat: repeat-x;
    top: 16px;
}
.rated__box--text{
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
    color: $color-very-dark
}
.card{
    @include display-flex(column);
}
.card__box{
    width: 100%;
    border-radius: 8px;
    background-color: $color-very-dark;
    margin: 10px auto;
    padding: 40px 0;
    @include display-flex(column)
}
.card__box--profile{
    width: 85%;
    // margin-top: 40px;
    @include display-flex(row,start);
    align-items: stretch;
}
.card__box--profile > figure{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.card__box--profile >figure>img{
    object-fit: cover;
}
.box__profile--name{
    margin-left: 20px;
    color: $color-light-grayish;
    font-weight: bold;
    // line-height: 1.5;
    font-size: 15px;
    @include display-flex(column, space-evenly);
    align-items: flex-start;
}
.card__box--profile span{
    color: $color-soft;
    opacity: .5;
}
.card__box--commentary{
    width: 85%;
    margin-top: 20px;
    // margin: 20px auto 30px;
    color: $color-light-grayish;
    opacity: .8;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
}
.attribution{
    margin-top: 40px;
    text-align: center;
}